<ul class="list-group participant-list">
    <li *ngFor="let judge of participantsjudge" class="list-group-item">
        <div class="row participant-card">
            <div class="col-4">
                <div class="colorDetails">
                  <p> {{judge.firstName}}  {{judge.lastName}}</p>
               <p> {{judge.job}} </p ></div>
                <i *ngIf="judge.video" class="fa fa-video-camera" aria-hidden="true"></i> 
                <i *ngIf="!judge.video" class="fa fa-video-camera-slash" aria-hidden="true"></i>
            </div>
        </div>
    </li>
</ul><br><br>
<ul class="list-group participant-list">
    <li *ngFor="let other of participantsOthers" class="list-group-item">
        <div class="row participant-card">
            <div class="col-4">
                <div class="colorDetails">
                  <p> {{other.firstName}}  {{other.lastName}}</p>
               <p> {{other.job}} </p ></div>
                <i *ngIf="other.video" class="fa fa-video-camera" aria-hidden="true"></i> 
                <i *ngIf="!other.video" class="fa fa-video-camera-slash" aria-hidden="true"></i>
            </div>
        </div>
    </li>
</ul>
<div class="button-list" style="display: flex;justify-content: center;margin-top: 15px;">
    <button (click)="toggleCamera()">open camera
        <i *ngIf="video" class="fa fa-video-camera" aria-hidden="true"></i> 
         <i *ngIf="!video" class="fa fa-video-camera-slash" aria-hidden="true"></i>
        <!-- <video id="videoElement" *ngIf="other.video" autoplay></video> -->
    </button>
    <button *ngIf="!sharedScreen" (click)="displayScreen()">Display Screen</button>
    <button *ngIf="sharedScreen"  (click)="stopDisplay()">Stop Display</button>
    <!-- <video id="videoElement" autoplay></video> -->
    <button *ngIf="!sharedScreen" (click)="startScreenRecording()">Screen recording</button>
    <button *ngIf="sharedScreen"  (click)="stopScreenRecording()">Stop Screen recording </button>
</div>
<footer>
    <div style="display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: -300px;
    padding-bottom: 300px;
    "> 
       <button>אנשים: {{participants}}</button>
        <button>פרטי דיון</button>
        <button>מנהל דיון</button>
        <button>הגדרות</button>
    </div> 
</footer>