<div class="card">
    <div class="card-body" id="card">
        <form [formGroup]="participantForm">
            <div class="form-group">
                <label>id:</label>
                <div>
                    <input type="text" class="form-control" name="participantid" formControlName="id">
                        <div *ngIf="participantForm.controls['id'].errors?.required && participantForm.controls['id'].touched"  class="alert alert-danger">this field is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>first name:</label>
                <div>
                    <input type="text" class="form-control" name="participantFirstName" formControlName="firstName">
                    <div *ngIf="participantForm.controls['firstName'].errors?.required && participantForm.controls['firstName'].touched"  class="alert alert-danger">this field is required</div>
                    <div *ngIf="participantForm.controls['firstName'].errors?.minlength && participantForm.controls['firstName'].errors?.maxlength" class="alert alert-danger">this field must be at least 2 chars and not more 10 chars</div>
                </div>
            </div>
            <div class="form-group">
                <label>last name:</label>
                <div>
                    <input type="text" class="form-control" name="participantLastName" formControlName="lastName">
                        <div *ngIf="participantForm.controls['lastName'].errors?.required && participantForm.controls['firstName'].touched"  class="alert alert-danger">this field is required</div>
                        <div *ngIf="participantForm.controls['lastName'].errors?.minlength && participantForm.controls['firstName'].errors?.maxlength" class="alert alert-danger">this field must be at least 2 chars and not more 10 chars</div>
                </div>
            </div>
            <div class="form-group">
                <label>job:</label>
                <div>
                    <select  class="responsive-select"  formControlName="job">
                        <option *ngFor="let value of enumValues" [ngValue]="value">{{value}}</option> 
                    </select>
                </div>
            </div>
            <button (click)="saveParticipant()" [disabled]="participantForm.controls['id'].invalid || participantForm.controls['firstName'].invalid || participantForm.controls['lastName'].invalid || participantForm.controls['job'].invalid">Save</button>
        </form>
    </div>
</div>